html{
    background-color: white;
}
body{
    /* background-color: rgb(219, 216, 13); */
    background-color: white;
    width: 1366px;
    margin:0 auto;
    position: relative;

}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,
fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0
}
a {
	text-decoration: none;
}
li{
    list-style: none;
}
h2{
    font: 36px/54px "PingFangSC-Medium";
    color: #1C1F21;
    font-weight: 600;
}
h3{
    font: 12px/18px "PingFangSC-Regular";
    color: #1C1F21;
}